html,
body {
  margin: 0;
  height: 100%;
  background-color: #0f0f0f;
  color: #f4f4f4;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

a {
  color: #f4f4f6;
  text-decoration: none;
  mix-blend-mode: difference;
}
